@page
@model UFNCC_DotNetASPTeste.Pages.ProdutoModel
@{
    ViewData["Title"] = "Cadastro de produtos";
}

<h2>@ViewData["Title"]</h2>
<table  class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model.Produtos)
        {
            <tr>
                <td>@produto.Descricao</td>
                <td>@produto.Preco.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
